nav ul{
    display: flex;
    /* border: 1px solid red; */
    padding-top: 40px;
    width: 400px;
    justify-content: space-evenly;
    margin: 0;
}

nav ul li {
    text-decoration: none;
    list-style-type: none;
}

nav {
    border-bottom: 1px solid blue;
    margin-bottom: 20px;
}