<div class="global-container container">
    <mat-card>
        <mat-card-title>If you are an existing user</mat-card-title>
        <mat-card-actions>
            <a [routerLink]="'login'"><button mat-raised-button>Login</button></a>
        </mat-card-actions>
    </mat-card>
    <mat-card>
        <mat-card-title>If you are a new user</mat-card-title>
        <mat-card-actions>
            <a [routerLink]="'register'"><button mat-raised-button>Register</button></a>
        </mat-card-actions>
    </mat-card>
</div>