<div class="global-container login-container">
    <mat-card>
        <mat-card-title>Login</mat-card-title>
        <mat-card-content>
            <form class="login-form" [formGroup]="LoginForm" (ngSubmit)="login()">
                <mat-form-field class="login-full-width" appearance="fill">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                        placeholder="Ex. pat@example.com">
                    <mat-error *ngIf="LoginForm.get('email').hasError('email') && !LoginForm.get('email').hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="LoginForm.get('email').hasError('required')">
                        Email is required!
                    </mat-error>
                </mat-form-field>
                <mat-form-field [style.margin-top]="'10px'" class="login-full-width" appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="LoginForm.get('password').hasError('minlength') && !LoginForm.get('password').hasError('required')">
                        Minimum length is six!
                    </mat-error>
                    <mat-error *ngIf="LoginForm.get('password').hasError('required')">
                        Password is required!
                    </mat-error>
                </mat-form-field>
                <mat-card-actions>
                    <button mat-raised-button color="primary" type="submit">Login</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>